.idea/
bower_components
dist
build
configs
documentation
test.php
test
pages
schema
plugins
uploads_
airtel-uploads
mpesa_uploads
uploads

pairing_
assets-upload
notes.txt
assets-upload
company_docs
vendor
.env
composer.lock
campaign_uploads
logging
node_modules
package-lock.json