.scrollable-container {
  overflow-y: auto;
}
/* Styles specifically for table with class 'tablex' */
.tablex {
  width: 100%; /* Full-width */
  border-collapse: collapse; /* Collapse borders */
}

.tablex th,
.tablex td {
  padding: 1px; /* Minimal padding for compactness */
  border-bottom: 1px solid #ddd; /* Light horizontal border */
  text-align: left; /* Align text to the left */
}

.tablex th {
  background-color: #f2f2f2; /* Light grey background */
  color: #333; /* Dark text for contrast */
}

/* Striped rows for tablex */
.tablex tr:nth-child(even) {
  background-color: #f9f9f9; /* Lighter grey for even rows */
}

/* Hover effect for tablex rows */
.tablex tr:hover {
  background-color: #e8e8e8; /* Slightly darker on hover for better interaction */
}
a.superlnk_ {
  text-decoration-line: underline;
  text-underline-offset: 4px;
  text-decoration-style: dotted;
  color: darkblue;
}
.callout {
  position: absolute;
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 5px;
  z-index: 1000000;
  max-width: 200px;
  display: none;
}

.callout::after {
  content: "";
  position: absolute;
  bottom: -20px; /* Adjust based on arrow size */
  left: 20%;
  transform: translateX(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
.callbox {
  margin-left: 3px;
}
.notification-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 300px;
  z-index: 1050;
  padding: 20px;
}
#popup_notif a {
  color: navy;
}
.small-shadow {
  box-shadow: 0px 2px 7px #33333352;
}
.notifications {
  position: relative;
}

.notification {
  position: relative;
  margin-bottom: 0px;
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(0);
  transition: transform 0.3s ease;
}

.notification-container .notification:not(:last-child) {
  margin-bottom: -40px; /* Adjust this value for more or less overlap */
}

.notification .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 1.2rem;
  color: #333;
}

.notification .close-btn:hover {
  color: #000;
}

.notification-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.counter,
.exit-all-btn {
  font-size: 1.2rem;
  color: #fff;
  font-weight: bold;
  background-color: #007bff;
  border: 1px solid #0056b3;
  padding: 7px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.exit-all-btn:hover,
.counter:hover {
  background-color: #0056b3;
}
.notification a {
  color: #333;
}
.masonry {
  /* column-count: 3;
    column-gap: 1rem; */
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  flex-direction: row;
  max-width: 90%;
}

.masonry-item {
  background: #fff;
  border: 1px solid #dee2e6;
  display: inline-block;
  margin-bottom: 1rem;
  padding: 1rem;
  min-width: 25%;
  box-sizing: border-box;
  /*break-inside: avoid;*/
  border-radius: 8px;
}

.masonry-item-header {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 1rem;
}

.masonry-item-header .badge {
  margin-right: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  padding: 10px;
  border-radius: 50%;
  background-color: #007bff; /* Primary Bootstrap color */
  color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

/* Media Query for Small Screens */
@media (max-width: 768px) {
  .masonry {
    /* column-count: 1; /* Switch to single column */
  }
}

.custom-badge {
  position: relative;
  display: block;
  width: 35px;
  height: 35px;
  line-height: 30px;
  text-align: center;
  margin: 0px 5px 0px 0px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
  border: 2px solid #000;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0);
}
.subheader {
  margin-bottom: 3px;
}
.search_bar {
  padding: 10px;
  box-sizing: border-box;
}

/* Resize for medium screens (tablets) */
@media (max-width: 768px) {
  .search_bar {
    width: 200px; /* Slightly smaller on medium screens */
  }
}

/* Resize for small screens (phones) */
@media (max-width: 480px) {
  .search_bar {
    width: 75px; /* Even smaller on small screens */
    padding: 5px;
  }
}

/* Resize for very small screens */
@media (max-width: 320px) {
  .search_bar {
    width: 75px; /* Super small on very small screens */
    padding: 3px;
  }
}

.text-control {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ai-icon {
  display: inline !important;
  float: right;
  background: linear-gradient(75deg, #2c94ff, #e900ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
  text-decoration: none;
  padding: 1px !important;
}
.ai-icon img {
  margin-bottom: 10px;
}
.ai-icon:hover,
ai.active:active {
  color: white !important;
  background: transparent !important;
}
#inp_search_everything {
  width: 60px; /* Small default size */
  transition: width 0.5s ease-in-out; /* Smooth transition */
  padding: 5px;
}

#inp_search_everything:focus {
  width: 300px; /* Expanded size on click */
}

#search_area {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa; /* Optional: Set background color */
  padding: 10px; /* Optional: Adjust padding */
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Optional: Adds shadow for better visibility */
  color: #000;
  background-color: #a8beee !important;
}
.box-separator {
  margin-top: 30px;
  font-size: 18px;
  /* border-top: 3px solid #0000ff3b; */
  box-shadow: 0px -25px 15px 0px #33333326;
  padding: 15px 4px 10px 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
hr.hrule {
  margin-bottom: 10px;
  margin-top: 10px;
  border-top: 5px solid #dbdbdb;
}
.bar_sep {
  margin: 0;
  background: transparent;
  border: transparent;
  border-left: 2px solid #d2d2d2;
}
.pie-chart-container {
  position: relative;
  width: 100%;
  padding-top: 100%; /* 1:1 Aspect Ratio */
  overflow: hidden;
}
.pie-chart {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.pie-chart .label {
  position: absolute;
  transform: translate(-50%, -50%); /* Center the label */
  text-align: center;
  font-weight: bold;
  color: white;
  /* Solid text border */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  font-size: 1em;
  line-height: 1.2;
  white-space: nowrap;
}
/* Responsive font size */
@media (max-width: 767px) {
  .pie-chart .label {
    font-size: 0.8em;
  }
}
.swal2-html-container {
  font-size: 1.5em !important;
  color: #333333;
}
button.swal2-styled {
  font-size: 1.4em;
  font-weight: bold;
  min-width: 69px;
}
.info-box-icon-x {
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
  display: flex; /* Enables Flexbox */
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  height: 90px;
  width: 90px;
  background: rgba(0, 0, 0, 0.2);
}

.info-box-icon-x i {
  font-size: 45px; /* Size of the icon */
}

.thumbnailx {
  height: 100px;
  /* width: 68px !important; */
  width: 100%;
  object-fit: cover;
}
.popup-box {
  position: fixed;
  display: none;
  top: 65px;
  right: 20px;
  width: 300px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 100000;
  /* Shifting gradient background with light blue, white, and light grey */
  background: linear-gradient(-45deg, #a2d5f2, #ffffff, #d3d3d3, #a2d5f2);
  background-size: 400% 400%;
  animation: gradientWave 8s ease infinite;
}

.popup-box h3 {
  margin-top: 0;
  font-size: 18px;
  color: #333;
}

.popup-box .buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.popup-box .buttons .btn {
  flex: 1;
  margin: 0 5px;
}

.popup-box .exit-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
  color: #888;
}

.popup-box .exit-icon:hover {
  color: #333;
}

/* Keyframes for the gradient wave animation */
@keyframes gradientWave {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.btn-float {
  position: fixed !important;
  bottom: 20px !important;
  right: 20px !important;
  z-index: 1000 !important;
  padding: 10px 10px !important;
  border-radius: 23px;
  border: none;
  background: linear-gradient(44deg, #0000ac, #00c000);
  font-weight: bold;
  box-shadow: 0 15px 15px rgb(0 0 0 / 40%) !important;
  /* font-size: 18px !important; */
  cursor: pointer !important;
}

.report-search-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}

.report-search-container_section {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.report-search-container_section > a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.report-search-container_span {
  min-width: 40%;
}

.report-filters-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.report-filters-container_table_tr_td {
  display: flex;
  justify-content: space-between;
  gap: 0.25rem;
}

.report-filters-container__div {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.report-cards-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.masonry-item {
  transition: all 0.3s ease-in; /* Smooth transition for all properties */
}

.masonry-item:hover {
  transform: translateY(-4px) scale(1.02);
  box-shadow: 0 6px 12px rgba(166, 152, 152, 0.12);
  background-color: #496683 !important; /* Bootstrap primary/active blue */
  z-index: 10;
}

.masonry-item:hover .custom-badge,
.masonry-item:hover h4,
.masonry-item:hover p 
{
  color: #161414 !important;
}

.masonry-item:hover .custom-badge {
  border: 2px solid #161414 !important;
}
